# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Python Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Cache
.cache/

# Temporary Files
*.tmp
*.temp

# Model Files (Optional)
*.h5
*.pth
*.pt
*.ckpt



